<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title> <%= fileName %></title>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="invoice">
    <h1>Invoice</h1>
    <p><strong>Name:</strong> <%= name %></p>
    <p><strong>Date:</strong> <%= date %></p>

    <table>
      <thead>
        <tr><th>Item</th><th>Quantity</th><th>Price</th></tr>
      </thead>
      <tbody>
        <% items.forEach(item => { %>
          <tr>
            <td><%= item.name %></td>
            <td><%= item.qty %></td>
            <td><%= item.price %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</body>
</html>